name: Docker Image CI

on:
  pull_request:
    branches: [ main ]

jobs:

  test:

    runs-on: ubuntu-latest
    env:
      API_KEY : ${{secrets.WEATHER_KEY}}

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.10
  
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag bc4m/case:1.0
    - name: Test the application
    - run: pip install pytest
    - run: pytest
